<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto fw-weight-normal">
    <app-header></app-header>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <input type="text" placeholder="Search..">
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="btn btn-outline-primary" routerLink='/login'>Login</a>
    <a class="btn btn-outline-primary" routerLink='/register'>Register</a>
  </nav>

</div> -->


<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #68c0ff;">
  <!-- Navbar content -->

  <a class="navbar-brand" routerLink='/home' href="#">ArtCurator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    
    <button type="button" class="btn btn-danger mx-1" style="background-color: #000000;" routerLink='/login'>Login</button>
    <button type="button" class="btn btn-danger mx-1" style="background-color: #000000;" routerLink='/register'>Sign Up</button>
  </div>
</nav>

