
<div class='container-fluid'>
  <div class="row" style="padding: 20px;">
      <div class="col-sm-12 btn btn-success">
          Use Bootstrap carousel in Angular 8 Project
      </div>
  </div>
  <div class='col-12'>
      <ngb-carousel>
          <ng-template ngbSlide>
              <img src="../../assets/images/modernart.jpg" alt="Delhi Metro">
              <div class="carousel-caption">
                  <h3 style="color: yellow">Delhi Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/images/modernart.jpg" alt="Bangalore Metro">
              <div class="carousel-caption">
                  <h3 style="color: yellow">Bangalore Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/images/modernart.jpg" alt="Channai Metro">
              <div class="carousel-caption">
                  <h3 style="color: yellow">Channai Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/images/modernart.jpg" alt="Jaipur Metro">
              <div class="carousel-caption">
                  <h3 style="color: yellow">Jaipur Metro</h3>
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img src="../../assets/images/modernart.jpg" alt="Mumbai Metro">
              <div class="carousel-caption">
                  <h3 style="color: yellow">Mumbai Metro</h3>
              </div>
          </ng-template>
      </ngb-carousel>
  </div>

</div>

  <!-- <div class='col-12' style="padding: 20px;">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/modernart.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">Welcome</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/modernart-2.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">To ArtCurator</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/contemporary-1.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">Where Art Meets Artist</h3>
            </div>
        </ng-template>

      </ngb-carousel>
    </div> -->
