<div *ngIf="isSeller">
  <app-nav-seller></app-nav-seller>
</div>

<div *ngIf="isBuyer">
  <app-nav-user></app-nav-user>
</div>

<hr />

<div *ngIf="isUpdated">
  <h3>Password updated.</h3>
</div>

<div class="row">
  <div class="col-md-5 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Update Password</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">

          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input
              type="password"
              id="oldPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': updatePasswordForm.get('oldPassword').touched && updatePasswordForm.get('oldPassword').invalid }"
              formControlName="oldPassword"
            />
            <span class="invalid-feedback">
              <span *ngIf="updatePasswordForm.get('oldPassword').hasError('required')">Password can't be blank.</span>
            </span>
          </div>

          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': updatePasswordForm.get('newPassword').touched && updatePasswordForm.get('newPassword').invalid }"
              formControlName="newPassword"
            />
            <span class="invalid-feedback">
              <span *ngIf="updatePasswordForm.get('newPassword').hasError('required')">Password can't be blank</span>
              <span *ngIf="updatePasswordForm.get('newPassword').hasError('symbol')">Password must contain @</span>
              <span *ngIf="updatePasswordForm.get('newPassword').hasError('minlength')">Password must contain minimum 4 characters</span>
            </span>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              id="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': updatePasswordForm.get('confirmPassword').touched && updatePasswordForm.get('confirmPassword').invalid }"
              formControlName="confirmPassword"
            />
            <span class="invalid-feedback">Passwords must match.</span>
          </div>


          <button class="btn btn-primary btn-block" [disabled]="updatePasswordForm.invalid" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>