<app-nav></app-nav>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Forgot Password</h2>
      </div>

      <div class="card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">

          <div class="form-group">
            <label for="dob">D.O.B</label>
            <input type="date" id="dob" class="form-control" id="dob"
              [ngClass]="{'is-invalid': forgotPasswordForm.get('dob').touched && forgotPasswordForm.get('dob').invalid }"
              formControlName="dob" />
            <span class="invalid-feedback">D.O.B can't be blank.</span>
          </div>

          <div class="form-group">
            <label for="email">Email Id</label>
            <input type="email" id="email" class="form-control"
              [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid }"
              formControlName="email" />
            <span class="invalid-feedback">
              <span *ngIf="forgotPasswordForm.get('email').hasError('required')">Email can't be blank.</span>
              <span *ngIf="forgotPasswordForm.get('email').hasError('email')">Email must be valid.</span>
            </span>
          </div>

          <button class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>
<footer>
  <app-footer></app-footer>
</footer>