
  <div class='col-12' style="padding: 20px;">
    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/modernart.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">Welcome</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/modernart-2.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">To ArtCurator</h3>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="d-block w-100" width="1600" height="500" src="../../../../assets/images/contemporary-1.jpg">
            <div class="carousel-caption">
                <h3 style="color: yellow">Where Art Meets Artist</h3>
            </div>
        </ng-template>
      </ngb-carousel>
    </div>




