<app-nav-user></app-nav-user>
<hr>

<div class="container">
    <div>
        <div class="row">
            <div *ngIf="cartList.length==0">
                <h2>Cart is empty...</h2>
            </div>
        </div>
        <div *ngIf="cartList.length>0">
            <html>

            <body>
                <div class="row">
                    <div *ngIf="lessWalletAmount">
                        <h2>Please add enough balance to wallet before proceding...</h2>
                    </div>
                </div>
                <div class="row-cols-1">
                    <div class="row-1">
                        <a (click)='toCheckOut()' class="btn btn-outline-primary">Order</a>

                        <a routerLink="/buyerhome" style="margin-left:5px;" class="btn btn-outline-warning">Back to home
                            page</a>
                    </div>

                </div>
                <div>
                    <div class="row">
                        <div *ngIf="totalAmount">
                            <h2>Your Cart Total is {{totalAmount}}</h2>
                        </div>
                    </div>
                    <div *ngIf="cartList.length>0">
                        <table id="addproduct" class="center" style="width:80%;">
                            <tr>
                                <th>Art Name</th>
                                <th>Amount</th>
                                <th>Artist</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tr>

                            <tr *ngFor="let c of cartList">
                                <td>{{c.art_name}}</td>
                                <td>{{c.amount}}</td>
                                <td>{{c.artist_name}}</td>
                                <td>
                                    <img width="70px" height="70px" [src]="c.image" />
                                </td>
                                <td>
                                    <button type="button" (click)="deleteItem(c.id,c.art_name)"
                                        class="button button2">Delete</button>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </body>

            </html>
        </div>
    </div>
</div>

<hr>
<app-footer></app-footer>